/* Universal Styles */

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Poppins', sans-serif;
  animation: introAnimate 1s ease 0s 1 both normal;
  height: 100%;
}

@keyframes introAnimate {
  0% {opacity: 0; transform: scale(0.95) translate(0rem, 1.5em)}
  100% {opacity: 1; transform: scale(1) translate(0, 0)}
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}


.loader {
  display: flex;
  justify-content: center;
  width: 100%;
}


.sticky {
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  width: 100%;
  /* padding-top: 589px; */
}



@media only screen and (min-width: 1px) and (max-width: 900px) {
  .BizListContainer {
    margin-top: 23em;
  }

}
